# Main DB
DB_HOST=cinema_db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=yourpassword

CATALOG_DB_NAME=catalog_db
ORDER_DB_NAME=order_db

# Api Gateway
API_GATEWAY_PORT=3000

# Auth Service
AUTH_SERVICE_PORT=3003
AUTH_SERVICE_LISTEN_HOST=0.0.0.0
AUTH_SERVICE_DOCKER_HOST=auth-service

# Catalog Service
CATALOG_SERVICE_PORT=3001
CATALOG_SERVICE_LISTEN_HOST=0.0.0.0
CATALOG_SERVICE_DOCKER_HOST=catalog-service

# Order Service
ORDER_SERVICE_PORT=3002
ORDER_SERVICE_LISTEN_HOST=0.0.0.0
ORDER_SERVICE_DOCKER_HOST=order-service


JWT_SECRET=yourJwtSecret